.animate-nickname {
    display: inline-flex;
    flex-direction: column;
    max-height: 1.375rem;
    &.dm-channel,
    &.roleColor-rz2vM0,
    &.discord-tag,
    &.voice-user {
        max-height: 20px;
    }

    span {
        transition: transform 0.3s 0.3s;
    }
    span:first-child {
        display: inline-block;
    }
    span:last-child {
        display: inline-block;
        transform: rotateX(90deg);
    }

    &:hover {
        span:first-child {
            transform: rotateX(-90deg) translateY(-100%);
        }
        span:last-child {
            transform: translateY(-100%);
        }
    }
}

.compact-T3H92H {
    .username-1A8OIy.animate-nickname {
        margin-left: 65px;
    }
}

.tooltip-nickname {
    display: inline;
}
